@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Staff List</h1>
    <p>Select to load <select>
        <option>Select one</option>
    </select></p>
    <div id="staff-container"></div>
</div>